body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .bg-primary {
    @apply bg-gradient-to-r from-white to-sky-300 dark:from-black dark:to-sky-700 text-sky-950 dark:text-white;
  }

  .btn-primary {
    @apply w-full min-w-max bg-sky-400 dark:bg-sky-600 dark:text-gray-100 p-4 rounded-full font-semibold hover:bg-sky-500 hover:dark:bg-sky-700 disabled:opacity-75 transition-all;
  }

  .btn-secondary {
    @apply h-12 p-2 border rounded-lg text-sm font-semibold hover:bg-gray-200 dark:hover:bg-gray-800 dark:text-gray-100;
  }

  .sidebar {
    @apply lg:sticky w-56 top-28 left-0 mb-28 rounded-lg bg-gray-100 dark:text-gray-100 dark:bg-gray-700;
  }

  .form-control {
    @apply w-full flex flex-col gap-2;
  }

  .form-row {
    @apply w-full grid grid-flow-col justify-stretch space-x-4;
  }

  .inputDarkModeOverride:-webkit-autofill,
  .inputDarkModeOverride:-webkit-autofill:hover,
  .inputDarkModeOverride:-webkit-autofill:focus,
  .inputDarkModeOverride:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #374151 inset;
    -webkit-text-fill-color: white !important;
  }
}
